## Övning 1 Pandas Fundamentals

In [20]:

# 1.a) Create a Pandas Series from scratch

import pandas as pd

city = pd.DataFrame()

city= city.assign(Kommun = ["Malmö", "Stockholm", "Uppsala", "Göteborg"],
                Population = [347949, 975551, 233839, 583056])

city

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [21]:
# 1.b) Show the city with the index 3

gothenburg = city.iloc[[3]]

gothenburg

     Kommun  Population
3  Göteborg      583056

In [22]:
# 1.c) Sort the cities by population from largest to smallest

sorted_cities = city.sort_values("Population", ascending=False)

sorted_cities

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

In [23]:
# 1.d) Filter out the three largest cities

sorted_cities = city.sort_values("Population", ascending=False)

sorted_cities.head(3)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

In [24]:
# 1.e) Assing population percentage to each city

sorted_cities["Population (%)"] = round(city["Population"] / 10379295 * 100, 1)

sorted_cities

      Kommun  Population  Population (%)
1  Stockholm      975551             9.4
3   Göteborg      583056             5.6
0      Malmö      347949             3.4
2    Uppsala      233839             2.3

## Övning 2 Real Dataset

In [ ]:
# 2.a) Read in data from an Excel file

import pandas as pd
file = "../../Data/komtopp50_2020.xlsx"
df = pd.read_excel(file, header = 0, sheet_name="Totalt")

print(df.head()) # Visar de 5 första raderna
print(df.info()) # Visar information om data, som datatyp och antal saknade värden
print(df.describe()) #Visar en sammanfattning av data, som medelvärde och standardavvikelse

In [42]:
# 2.b) Change the column names and drop rows with missing values

df.columns = ["Rang 2020", "Rang 2019", "Kommun", "Folkmängd 2020", "Folkmängd 2019", "Förändring"]

pd.to_numeric(df["Förändring"], errors="coerce")
df = df.dropna()
df["Folkmängd 2019"] = df["Folkmängd 2019"].astype(int)
df["Rang 2019"] = df["Rang 2019"].astype(int)

df.head().reset_index(drop=True)

  Rang 2020  Rang 2019    Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0        83         84       Ale          31868           31402   1.483982
1        64         64  Alingsås          41602           41420   0.439401
2       123        123   Alvesta          20224           20134   0.447005
3       255        255     Aneby           6821            6848  -0.394276
4       169        167    Arboga          14039           14087   -0.34074

In [43]:
# 2.c) Filter out the five largest cities, from largest to smallest

sorted_cities = df.sort_values("Folkmängd 2020", ascending=False)

sorted_cities.head().reset_index(drop=True)

  Rang 2020  Rang 2019     Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0         1          1  Stockholm         975551          974073   0.151734
1         2          2   Göteborg         583056          579281    0.65167
2         3          3      Malmö         347949          344166   1.099179
3         4          4    Uppsala         233839          230767   1.331213
4         5          5  Linköping         164616          163051   0.959822

In [82]:
# 2.d) Assing population percentage to each city

sorted_smalest_city = df.sort_values("Folkmängd 2020")

sorted_smalest_city.set_index("Rang 2020", inplace= True)
sorted_smalest_city.head()

           Rang 2019    Kommun Folkmängd 2020  Folkmängd 2019 Förändring
Rang 2020
290              290  Bjurholm           2387            2408  -0.872093
289              289   Sorsele           2442            2489  -1.888309
288              288   Dorotea           2498            2551  -2.077617
287              287  Arjeplog           2718            2785  -2.405745
286              286     Åsele           2805            2794   0.393701